* {
    margin: 0;
    padding: 0;

}

header {
    background-color: #dc1f1c;

    Color: White;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Logo {
    height: 80%;
    border-radius: 50%;
}

.itens-menu {
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem;
    transition: 100ms;

}

.itens-menu:hover {
    background-color: #FDC700;

}

.relogio {
    background-color: #de1b1b;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#imgsabadou {
    background-image: url(assets/SABADOU.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.sabadou {
    height: 36rem;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0rem 0rem 2rem 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

.HeroSection {
    width: 64.7rem;
    background: linear-gradient(to top, black, transparent);
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;

}

.aovivo {
    background-color: #DE1B1C;
    color: white;
    border-radius: 12vh;
    font-size: 1rem;
    text-align: center;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;

}

.imglisten {
    margin: 1rem;
    border: 0.2rem solid gray;
    border-radius: 1rem;
    height: 6rem
}

.frase {
    color: #FDC700;
}

.player {
    margin-right: 5rem;

}

.anuncio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    height: 13.5rem;
    align-items: center;
}

.Titulo {
    color: red;
    margin-left: 10%;

}

.containerm-maispedidas {
    width: 100%; /* Ajuste conforme necessário */
    overflow: hidden; /* Oculta a barra de rolagem do container */
    position: relative; /* Para posicionar a barra de rolagem */
}

.maispedidas {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: auto; /* Permite rolagem horizontal */
    white-space: nowrap; /* Faz com que os cards fiquem em linha */
    padding-bottom: 10px; /* Espaço para a barra de rolagem */
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.233);
    border-radius: 1rem;
}



.maispedidas::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.maispedidas::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra */
    border-radius: 4px; /* Bordas arredondadas da barra */
}

.maispedidas::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra ao passar o mouse */
}

.card {
    border-radius: 1rem;
    align-items: center;
    margin: 0.5rem;
}

.imgboxmusic {
    margin: 2rem;
    align-items: center;

}

.autor {
    color: red;
    margin-left: 2rem;
}

.subtitulo {
    margin-left: 2rem;
}

.selecaopromocao{
    background-color: rgba(128, 128, 128, 0.233);
    display: inline-flex;
    border-radius: 1rem;
    margin-left: 10%;  
    margin-top: 1rem;

}

.infopromocao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 31.5rem;
    min-height: 35rem;
    margin: 1rem;

}

.imgpromocao {
    width: 100%;
}

.titulopromocao {
    margin: 0.5rem;
    font-size: 2rem;
}

.valdiadepromocao {
    margin: 1rem;

}

.botaoparticipe {
    background-color: #dc1f1c;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 100ms;

}

.botaoparticipe:hover {
    background-color: #9b1a17;

}

.subtitulopromocao {
    display: flex;
    justify-content: space-between;
    align-items: end;
}